.updatemini-main {
     background: linear-gradient(270deg, rgba(39, 169, 217, 1) 44%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
    height: 100%;
    width: 100%;
    border: 5px ridge var(--ridge-color);
}

.updatemini-body {
    margin-top: 3px;
    height: 96%;
    width: 100%;
}

.updatemini-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto; 
}

