.hero-main{
    width: 100%;
    height: 100%;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExejY0aTVnc2lxOHpqZXN2c2w0anc2eDdxd2FwZ3ZiMnFvczA4N213NCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Bck6vsenSHPTW/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px ridge var(--ridge-color);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.hero-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem ;
}

.hero-title span {
    padding: 10px;
    animation: blink 1.5s infinite alternate;
}

@keyframes blink {
  0% { color: green; }
  50% { color: red; }
  100% { color: gold; }
}

@media (max-width: 800px ) {
    .hero-title{
        font-size: 1.5rem;
    }
}

.neon-text {
  font-weight: bold;
  color: #00fff7;

  text-shadow:
    0 0 5px #00fff7,
    0 0 10px #00fff7,
    0 0 20px #00fff7,
    0 0 40px #00e6e6,
    0 0 80px #00cccc;
}