.tb-container {
  display: flex;
  flex-direction: row;
  background: #adbf34;
  background: linear-gradient(90deg, rgba(173, 191, 52, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  width: 100%;
}

.tb-title{
  width: 100%;
}

.tb-btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

.tb-icon{
  margin-right: 5px;
}