.container{
  
  /* for firefox  */
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  background-color: #ffddd181;
  max-width: 1500px;
  justify-self: center;
  margin-top: 10px;
  border-radius: 10px;

  display: grid;
  gap: 3px;
  grid-template-rows: 200px 1fr 70px;
  height: 98vh;
  border: 5px ridge #ffddd1;
  
}

.hero {
  height: 200px;
}
.container-body{
  display: grid;
  grid-template-columns: 1fr 4.5fr 1.5fr;
  font-family: 'ghibli',sans-serif;
   min-width: 0;
   min-height: 0;
}

.container-body > div {
  padding: 2.3px;

}
.navbar{
 height: 100%;
  overflow: hidden;
}

.welcome{
 height: 100%;
 overflow: hidden;
}

.footer{
  height: 100%;
   overflow: hidden;
}

.main-content{
  height: 100%;
  overflow: hidden;
}

.update {
  height: 100%;
  overflow: hidden;
}

/* General  */

.font-bs {
  font-family: 'bestieseventy' , sans-serif;
  font-weight: 400;
}

/* Responsive section  */

@media (max-width: 800px) {
  .container{
    height: 2000px;
  }
  .container-body {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 3fr 2.5fr;
  }
}