:root {
  --ridge-color: #ffddd1;

  --text-main: #f5f5f5;     
  --text-muted: #a1a1a1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: url('assets/anime-background.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
}

@font-face {
  font-family: 'bestieseventy';
  src: url('assets/fonts/bestieseventy.ttf');
}

@font-face {
  font-family: 'addendumbold';
  src: url('assets/fonts/addendumbold.ttf');
}

@font-face {
  font-family: 'ghibli';
  src: url('assets/fonts/ghibli.otf');
}